@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    transition: all 200ms ease-in-out;
}

.container-product {
    width: 90vw;
    height: 80vh;
    margin-top: 30px;
    background-image: url('../img/home.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    border-radius: 50px;
    box-shadow: 2px 6px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    margin-left: 80px;
}

.container-product .open-cam,
.container-product .close-cam,
.container-product .take-pic {
    background-color: #F2DA7A;
    font-size: 2rem;
    border-radius: 20px;
    font-size: 16px;
}

.container-product .take-pic,
.container-product .close-cam {
    width: 200px;
    margin: 20px;
}

.container-product .open-cam:hover,
.container-product .close-cam:hover,
.container-product .take-pic:hover {
    background-color: rgb(175, 175, 175);
}

.container-product .open-cam {
    font-size: 3rem;
}


.container-product .container-cam {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-product .container-cam .webcam {
    width: 40vw;
    height: auto;
    border-radius: 50px;
    border: 10px solid #F2DA7A;
    margin-left: -150px;
    margin-right: 10px;
}

.container-product .container-cam .button {
    display: flex;
    flex-direction: row;
    margin-left: -120px;
}

.predict {
    width: 400px;
    height: auto;
    background: none;
}

.hasil {
    width: 35vw;
    height: auto;
    margin-left: 40px;
}